body{
    background:#eff3f5;
}

.nothing h1{
    position: absolute;
    margin: auto;
    top: 200px;
}

.blog_table{
    width: 600px;
    height: 1200px;
    margin: auto;
    top: 100px;
    text-align: center;
    background: #a6a6a6;
    position: relative;
    /*opacity: 50%;*/
    z-index: 0;
    border-radius: 30px;

}

.blog_table h2{
    position: relative;
    margin: auto;
    color: black;
    z-index: 1;
}

.blog {
    width: 400px;
    height: 500px;
    margin: auto;
    top: 100px;
    text-align: center;
    background: #464646;
    position: relative;
    opacity: 100%;
    z-index: 1;
    border-radius: 25px;
}

.blog h1{
    text-align: center;
    color: white;
    opacity: 100%;
}

.blog h4{
    width: 350px;
    text-align: start;
    left: 25px;
    color: white;
    opacity: 100%;
    position: relative;
}

.blog img{
    position: relative;
    max-width: 400px;
}