input[type='checkbox']{
    display: none;

}

label{
     width: 100px;
     height: 50px;
     display: inline-block;
     background: #777;
     border: 2px solid #555;
     border-radius: 30px;
}

label::after{
    content: '';
    display: block;
    width: 42px;
    height: 42px;
    background: #555;
    position: absolute;
    border-radius: 50%;
    left: 15px;
    top: 15px;
}

input[type='checkbox']:checked~ label{
    background-color: #00a0fc;
    border-color: #006dc9;
}

input[type='checkbox']:checked~ label::after{
    background-color: #0054b0;
    transform: translateX(50px);
}