.show{
    top: 100px;
    position: relative;
    text-align: center;
    margin: auto;
    width: 500px;
    height: 800px;
    background: #a6a6a6;
    border-radius: 30px;
    color: white;
}

.show img{
    position: relative;
    max-width: 500px;
}